/* ===== RESET ===== */
*{
  box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
}

body{
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
}

/* ===== TEMAS ===== */
.dark{background:#0b141a;color:#e9edef}
.light{background:#ffffff;color:#000}

/* ===== HEADER ===== */
.header-center{
  background:#075e54;
  padding:10px;
  display:grid;
  grid-template-columns:auto 1fr auto;
  align-items:center;
}

.logo{height:32px}

.center-info{text-align:center}

.clock{font-size:14px;font-weight:bold}
.data{font-size:12px;opacity:.8}
.contador{font-size:12px;color:#25d366}

/* ===== BOTÕES ===== */
.top-btns button,.adm-top{
  background:none;
  border:none;
  color:#fff;
  font-size:18px;
  margin-left:8px;
  cursor:pointer;
}

/* ===== MAIN ===== */
.main-center{
  max-width:480px;
  margin:0 auto;
  padding:15px;
}

input,textarea{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  font-size:15px;
  margin-bottom:12px;
}

.btn,button{
  background:#25d366;
  border:none;
  padding:12px;
  border-radius:24px;
  width:100%;
  font-weight:bold;
  font-size:15px;
  cursor:pointer;
}

/* ===== OPÇÕES WHATSAPP ===== */
.opcao{
  display:flex;
  align-items:center;
  gap:14px;
  background:#1f2c34;
  padding:14px;
  border-radius:14px;
  margin-bottom:10px;
  cursor:pointer;
  transition:.15s;
}

.opcao:active{
  background:#253640;
}

.opcao input{
  width:18px;
  height:18px;
  accent-color:#25d366;
}

.texto-opcao{
  flex:1;
  font-size:15px;
  line-height:1.3;
}

/* ===== AVISO ===== */
.aviso{
  background:#25d366;
  color:#000;
  padding:10px;
  text-align:center;
  font-weight:bold;
}
.aviso.fechado{background:#ff4d4d;color:#fff}
.hidden{display:none}

/* ===== ADM ===== */
.adm-header{
  background:#075e54;
  padding:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.adm-actions{
  display:flex;
  align-items:center;
  gap:10px;
}

.btn-voltar{
  background:#25d366;
  color:#000;
  padding:6px 12px;
  border-radius:20px;
  font-size:13px;
  text-decoration:none;
  font-weight:bold;
}

.adm-main{padding:15px}

.card{
  background:#1f2c34;
  padding:15px;
  border-radius:14px;
  margin-bottom:15px;
}

.painel-topo{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
}

.rank-item{
  display:grid;
  grid-template-columns:1fr 2fr 40px;
  gap:8px;
  align-items:center;
  margin-bottom:8px;
  font-size:13px;
}

.barra{
  background:#0b141a;
  border-radius:6px;
  height:8px;
  overflow:hidden;
}

.preenchimento{
  background:#25d366;
  height:100%;
}

.contador-box{
  background:#0b141a;
  padding:10px;
  border-radius:8px;
  text-align:center;
  font-weight:bold;

}

.opcao.lotado{
  opacity:0.5;
}

.status-lotado{
  color:#ff4d4d;
  font-size:13px;
  font-weight:bold;
}
